<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p id="title" class="navbar-brand" href="#">Gossip Girl v2</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Accueil', root_path %></li>
      <li><%= link_to 'S\'inscrire', new_user_registration_path %></li>
      <li><%= link_to 'Se connecter', new_user_session_path %></li>
    </ul>
  </div>
</nav>
