<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p id="title" class="navbar-brand" href="#">The Fun Club</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Accueil', root_path %></li>
      <li><%= link_to "S'inscrire", new_user_path %></li>
      <li><a href="#">Se connecter</a></li>
    </ul>
  </div>
</nav>
